<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="s" />
    <title>LetsNote - makes note taking easy</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body id="body">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><b>📝LetsNote</b></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <form class="d-flex" role="search">
            <button class="btn">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="content">
      <div id="noteCard2" class="card mb-3">
        <div class="card-body" style="border-color: black">
          <h1>About Us</h1>

          <p>
            Welcome to LetsNote, the ultimate note-taking web app! Designed with
            simplicity and productivity in mind, LetsNote empowers you to
            capture, organize, and manage your ideas effortlessly.
          </p>

          <h2>Features</h2>
          <ul>
            <li>
              <strong>Intuitive Note Creation:</strong> Create new notes
              instantly with just a few clicks. LetsNote provides a clean and
              user-friendly interface, allowing you to focus on your thoughts
              without any distractions.
            </li>
            <li>
              <strong>Rich Text Formatting:</strong> Customize your notes with
              rich text formatting options. Add emphasis with bold, italic, and
              underline styles. Organize your content with bullet points and
              numbered lists. LetsNote gives you the flexibility to express your
              ideas exactly as you envision them.
            </li>
            <li>
              <strong>Organizational Tools:</strong> Keep your notes structured
              and easily accessible. Create notebooks and categorize your notes
              by topic, project, or any other system that suits your workflow.
              LetsNote's intuitive organization features ensure that you can
              find and retrieve your notes quickly whenever you need them.
            </li>
            <li>
              <strong>Cross-Device Syncing:</strong> Access your notes
              seamlessly from any device. Whether you're using LetsNote on your
              desktop, laptop, tablet, or smartphone, your notes are
              automatically synchronized. Stay productive on the go and never
              miss a beat.
            </li>
            <li>
              <strong>Collaboration Made Easy:</strong> Collaborate with others
              in real-time. Share your notes with colleagues, classmates, or
              friends and work together to brainstorm, edit, and refine your
              ideas. LetsNote's collaborative features foster teamwork and make
              it effortless to co-create and collaborate on projects.
            </li>
            <li>
              <strong>Reminders and Notifications:</strong> Set reminders and
              stay on top of your tasks and deadlines. LetsNote provides
              customizable reminders and notifications, ensuring that you never
              forget an important event or miss a crucial deadline.
            </li>
            <li>
              <strong>Security and Privacy:</strong> At LetsNote, we prioritize
              the security and privacy of your data. Your notes are encrypted
              and stored securely, so you can trust that your information
              remains private and confidential.
            </li>
            <li>
              <strong>Customizable Themes:</strong> Personalize your note-taking
              experience by choosing from a range of beautiful themes. Tailor
              LetsNote to your preferences, whether you prefer a light or dark
              mode or want to add your own touch of style to the app.
            </li>
          </ul>

          <p>
            Start using LetsNote today and unlock your productivity potential.
            Capture inspiration, organize your thoughts, and bring your ideas to
            life. LetsNote is your reliable companion for effective note-taking
            and streamlined creativity.
          </p>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
