.row{
    padding: 20px;
}
.column {
    float: left;
  }
  
  .left {
    width: 40%;
  }
  
  .right {
    width: 60%;
  }
#body{
    background-color: rgb(206, 159, 253);
}

.content{
    
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;

}


.card{
    background-color: rgba(144, 52, 237, 0.63);
    border-radius: 20px;
    border: none;
}
#noteCard{
    background-color: rgb(255, 124, 185);
}
.navbar{
    background-color:rgb(102, 43, 162);
}

.navbar-brand{
    color: aliceblue;
}
.navbar-brand:hover{
    color: rgb(197, 164, 231);
}
.form-control{
    background: rgb(216, 152, 255);
    border: none;
}

.btn{
    color: aliceblue;
    background-color: blueviolet;
    border-color: rgb(99, 0, 192);
}
.btn:hover{
    background-color: rgb(180, 112, 244);
    color: black;
}



